body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

a, button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button {
    display: block;
    margin: 10px auto;
}

form {
    margin-bottom: 20px;
}
